.item{
  color: #3D8599;
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.item.active{
  color: #e2cfcf;
}

.item img{
  width: 52px;
  height: 52px;
  border-radius: 40px;
  object-fit: cover;
  margin-left: 20px;
  border: 2px solid #CCFFEE;
}

.item span{
  display: block;
  min-height: 50px;
  background-color: #CCFFEE;
  padding: 10px 20px;
  position: relative;
  max-width: 395px;
  border-radius: 10px;
}

.item span::before{
  content: '▶';
  position: absolute;
  right: -15px;
  color: #CCFFEE;
}