.new{
  display: flex;
  flex-direction: column;
  min-height: 130px;
  justify-content: space-between;
}

.btn{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #3D8599;
  color: #fff;
  width: 110px;
}
