.header{
  grid-area: h;
  background-color: #61dafb;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.login__block{
  color: #fff;
}

