.header{
  grid-area: h;
  background-color: antiquewhite;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.login__block{
  color: #b42d2d;
}

