.content{
  grid-area: c;
  background-color: #61dafb20;
  display: grid;
  grid-template-rows: 1fr .5fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas: "img" "blog" "post";
}

.content ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.img{
  grid-area: img;
  width: 100%;
}

.image{
  margin-right: 30px;
}

.block{
  grid-area: blog;
  display: flex;
  
}

.posts{
  grid-area: post;
  padding: 0 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.item{
  font-size: 20px;
}

.new{
  display: flex;
  flex-direction: column;
  min-height: 130px;
  justify-content: space-between;
}

.text{
  border: none;
  min-height: 70px;
  font-size: 20px;
}