html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible{
  outline: 2px solid #b42d2d80;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.App {
  text-align: center;
}

.app__wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "h h" "n c";
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 20px;
  
}

.app__wrapper-content{
  grid-area: c;
  background-color: #61dafb;
  display: grid;
  color: #fff;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas: "img";
  border-radius: 10px;
  border-top-left-radius: 120px;
  position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e2cfcf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b42d2d80;
}